.grid_12.alpha
  / DESCRIPTION
  .grid_12
    %h2 Siloseam
    %p.lead
      %em
        Exploring the space of silicone bladder design and fabrication.
    %address
      %strong Cesar Torres
      %br/
      hedieh.moradi@mavs.uta.edu
      %br/
    %address
      %strong Cesar Torres
      %br/
      cearto@uta.edu
      %br/
  
