/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "alertify";
@import "alertify/default";
@import "alertify/bootstrap";
@import "semantic-ui";

$alert-padding: 0;
#help-button{
	position: fixed;
	top: 30px;
	left: 120px;
}
#back-button{
	position: fixed;
	top: 30px;
	left: 30px;
	width: 80px;
	height: 80px;
	display: block;
	background: white;
	border-radius: 100px;
	padding: 3px;
	img{
		width: 100%;
		height: 100%;
	}
	&:hover{
		background: darken(white, 30%);
	}	
}


.small-span{
	font-size: 0.8em;
}
.library-block{
	height: 200px;
	margin: 0 0;
	padding: 0 4px;
	width: 100%;
	background: #F8F8F8;
	cursor: pointer;
	overflow: hidden;
	border: 1px solid #E6E6E6;
	position: relative;
}
.library-block:hover{
	background: white;
	border-radius: 5px;
}
.library-block .cat{
	background: #00A8e1;
	color: white;
	border-radius: 5px;
	padding: 2px 6px;

	font-size: 8pt;
	margin-right: 6px;
	position: absolute;
	top: 4px;
	left: 4px;
	margin-bottom: -20px;
}
.library-wrapper{
	padding: 0 4px;
}
div.library-block-wrapper{
	background: #F5F5F5;
	border-radius: 5px;
	padding: 10px; 
	min-height: 200px;
	position: relative;
}
.library-block h2{
	font-size: 12pt;
	text-align: center;
	margin-top: 0;
	display: block;
	overflow: hidden;
	margin-bottom: 4px;
}
div.img-wrapper{
	overflow: hidden;
	height: 150px;
	width: 100%;
	text-align: center;
}
div.img-wrapper-large{
	height: 250px;
	text-align: center;
}
.img-wrapper a{
	width: 100%;
	height: 100%;
	display: block;
}
.library-block img{
	padding: 10px;
}
.library-block p{
	margin-bottom: 0px !important;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding: 20px 0;
}

.text-muted{
	margin: 0;
	text-align: left;
}
.clearfix{
	clear: both;
}